{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "import/extensions": [2, { "ignorePackages": true }],
    "react/jsx-filename-extension": 0
  }
}
